<div class="detailed-footer">
    <div class="button-container">
        <!-- Bouton de fermeture -->
        <button (click)="onClickClose()" class="button">
            <svg class="rotate-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill: none; height: 18px; width: 18px; stroke: currentcolor; stroke-width: 4; overflow: visible;">
                <path fill="none" d="M28 12 16.7 23.3a1 1 0 0 1-1.4 0L4 12"></path>
            </svg>
        </button>
    </div>
    <div class="main">
        <div class="collumn">
            <!-- Section Assistance -->
            <h1 class="text">Assistance</h1>
            <h1 class="text">Centre d'aide</h1>
            <h1 class="text">Assistance sécurité</h1>
            <h1 class="text">AirCover</h1>
            <h1 class="text">Lutte contre la discrimination</h1>
            <h1 class="text">Assistance handicap</h1>
            <h1 class="text">Options d'annulation</h1>
            <h1 class="text">J'ai un problème de voisinage</h1>
        </div>
    
        <div class="collumn">
            <!-- Section Accueil de voyageurs -->
            <h1 class="text">Accueil de voyageurs</h1>
            <h1 class="text">Mettez votre logement sur Airbnb</h1>
            <h1 class="text">AirCover pour les hôtes</h1>
            <h1 class="text">Ressources pour les hôtes</h1>
            <h1 class="text">Forum de la communauté</h1>
            <h1 class="text">Hébergement responsable</h1>
        </div>
    
        <div class="collumn">
            <!-- Section Airbnb -->
            <h1 class="text">Airbnb</h1>
            <h1 class="text">Newsroom</h1>
            <h1 class="text">Nouvelles fonctionnalités</h1>
            <h1 class="text">Carrières</h1>
            <h1 class="text">Investisseurs</h1>
            <h1 class="text">Cartes cadeaux</h1>
            <h1 class="text">Séjours d'urgence Airbnb.org</h1>
        </div>
    </div>
</div>
