<div class="scroll-container">
  <img class="scroll-button scroll-left" (click)="scrollLeft()" src="../../../assets/img/flèche gauche.svg" alt="Flèche Gauche" />
  <div class="scroll-content" #container>
    <ul class="scroll-list" #content>
      <!-- Vos éléments de défilement -->
      <li *ngFor="let item of scrollItems">
        <div class="item-container">
          <img [src]="item.src" [width]="item.width" [height]="item.height">
          <p class="item-text">planche</p>
        </div>
      </li>
    </ul>
  </div>
  <img class="scroll-button scroll-right" (click)="scrollRight()" src="../../../assets/img/flèche droite.svg" alt="Flèche Droite" />
  <div class="filtre">
    <img src="../../../assets/img/filtre.svg" alt="filtre" />
    <span class="filtre-text">Filtres</span>
  </div>
</div>