/* Styles pour le composant "underheader" (positionné en dessous de l'en-tête) */
.scroll-container {
  margin-left: 5%;
  margin-right: 5%;
  padding: 17px 3%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

/* Styles pour les images des flèches */
.scroll-button {
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #717171;
  border-radius: 40px;
  
  width: 13px; /* Ajustez la largeur de l'image des flèches à 12px */
  height: 13px; /* Ajustez la hauteur de l'image des flèches à 12px */
}

/* Styles pour l'image de la flèche gauche */
.scroll-left {
  order: 1; /* Placez l'image de la flèche gauche en première position dans le conteneur flex */
}

/* Styles pour la zone de défilement (conteneur) */
.scroll-content {
  flex-grow: 1;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  position: relative;
  order: 2; /* Placez la liste de défilement en deuxième position dans le conteneur flex */
}

.scroll-list {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: row;
  transition: transform 50s ease-in-out;
}

li {
  flex: 0 0 auto;
  width: calc(10%);
  margin: 5px 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.item-text {
  font-size: 12px;
}

/* Styles pour l'image de la flèche droite */
.scroll-right {
  order: 3; /* Placez l'image de la flèche droite en troisième position dans le conteneur flex */
}

/* Styles pour la div filtre */
.filtre {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #717171;
  border-radius: 25%;
  cursor: pointer;
  width: 90.53px;
  height: 48px;
  margin-left: 2rem;
  order: 4; /* Placez la div filtre en quatrième position dans le conteneur flex */
}

.filtre img {
  width: 15px; /* Ajustez la largeur de l'image du filtre */
  height: 15px; /* Ajustez la hauteur de l'image du filtre */
}

/* Styles pour le texte "Filtre" */
.filtre-text {
  margin-left: 5px; /* Ajustez la marge entre l'image et le texte */
  font-size: 14px; /* Ajustez la taille de la police du texte */
}