<div class="header-bar">
    <div class="logo-container">
        <img src="../../../assets/img/airbnb-logo.png" class="logo" />
    </div>
    <div class="search-bar-container">
        <input
            type="text"
            class="localisation-input"
            placeholder="N'importe où"
        >
        <input
            type="text"
            class="date-input"
            
            placeholder="Une semaine"
        >
        <input
          type="text"
          class="voyageurs-input"
          placeholder="Ajouter des voyageurs"
        >
    </div>
    <div class="account-bar-container">

    </div>
</div>
