<div class="header-bar">
  <div class="logo-container">
    <img
      src="../../../assets/img/airbnb-logo-text.svg"
      class="logo"
      width="102"
      height="32"
    />
  </div>

  <div class="search-bar-space">
    <div class="search-bar-container">
      <input
        (input)="onSearch($event)"
        type="text"
        class="localisation-input"
        placeholder="N'importe où"
        (keydown.enter)="onEnterPress()"
      />
      
      <!-- Liste des villes -->
      <ul class="ville-list" *ngIf="showCityList">
        <li (click)="onCityClick(ville)" *ngFor="let ville of villes$ | async">{{ ville.nom }}</li>
      </ul>

      <h1 *ngIf="selectedCity">
        <!-- Ville choisie : {{ selectedCity.nom }}. Code postal : {{ selectedCity.codesPostaux[0] }} -->
        
        {{selectedCity.nom }} {{selectedCity.codesPostaux[0]}}
      </h1>
      <input
        type="text"
        class="date-input"
        placeholder="Une semaine"
        disabled="disabled"
      />
      <div class="voyageur-container">
        <input
          type="text"
          class="voyageur-input"
          placeholder="Ajouter des voyageurs"
          disabled="disabled"
        />
        <div class="petite-loupe-container">
          <div class="petite-loupe">
            <img src="../../../assets/img/petite loupe.svg" alt="Loupe" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="account-bar-container">
    <div class="account-input">
      <div class="account-input-texte-container">
        <input
          class="account-input-texte"
          type="text"
          size="25"
          placeholder="Mettre mon logement sur Airbnb"
          style="border: none !important; outline: none; background: none"
          disabled="disabled"
        />
      </div>
      <div class="little-planete-container">
        <img
          src="../../../assets/img/planete petite.svg"
          class="little-planete"
          height="16"
          width="16"
        />
        <div></div>
      </div>
    </div>
    <div class="barre-right-side">
      <img
        src="../../../assets/img/listroisbarres.svg"
        class="listitem"
        height="16"
        width="16"
      />
      <img
        src="../../../assets/img/logoaccount.svg"
        class="petitepersonne"
        height="28.69"
        width="28.69"
      />
    </div>
  </div>
</div>
