.header-bar {
    display: flex;
    background-color: blue;
    width: 100%;
    height: 5rem;

    .logo-container {
        background-color: red;
        display: flex;
    }

    .search-bar-container {
        background-color: orange;
        display: flex;
    }

    .account-bar-container {
        background-color: green;
        display: flex;
    }
}