<div class="details-container">
    <h1 class="location-name">{{accomodation.city_name}}, {{accomodation.city_zipCode}}</h1>
    <h1 class="owner">Particulier</h1>
    <h1 class="price-value">{{accomodation.price}} €</h1>
    <h1 class="price-text">par nuit</h1>
    <div class="location-rating-container">
      <img src="../../../assets/img/star.svg" class="star-img">
      <h1 class="rating-text">{{accomodation.rating.toLocaleString('fr-FR', { maximumFractionDigits: 1 })}}</h1>
    </div>
  </div>
  